html                                                    { height: 100%; }
body                                                    { margin: 0px; padding: 0px; min-height: 100%; height: 100%; position: relative; background-color: #efefef;  }
body                                                    { font-family: Arial, sans-serif; color: #3f2323; font-size: 14px; }
img                                                     { border: 0px; }


.wrapper						{ height: auto; min-height: 100%; width: 100%; position: relative; overflow: hidden; }


.authbox						{ width: 400px; padding: 20px 20px; margin: 50px auto 0px; border: 2px dashed #ff4081; overflow: hidden; background-color: #ffffff; }
.authbox .boxxer 					{ position: relative; }

.authbox .warning					{ text-align: center; padding: 20px 0px; color: #ff4081; font-weight: bold; }

.loginbox						{ overflow: hidden; }
.loginbox th						{ text-align: left; }
.loginbox td						{ padding: 2px 10px; }
.loginbox td span					{ display: block; padding: 0px 0px 5px 0px; }
.loginbox td input					{ width: 100%; }
.loginbox td.submit					{ text-align: center; }
.loginbox td.submit a					{ padding: 5px 40px; }

input							{ borer: 1px solid #cdcdcd; }
input.ng-invalid					{ }


.loading						{ z-index: 99; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: url("./loading.128.gif") no-repeat scroll center center; }

a                                                       { color: #00b4dc; text-decoration: none; }
a:hover                                                 { text-decoration: underline; }

a.rbg                                                   { text-decoration: none; color: white; padding: 5px 20px; display: inline-block; }
.rbg                                                    { border-radius: 3px; }
.rbg                                                    { background: #ff569b;
                                                          background: -moz-linear-gradient(top, #ff569b 0%, #ff457a 100%);
                                                          background: -webkit-linear-gradient(top, #ff569b 0%,#ff457a 100%);
                                                          background: linear-gradient(to bottom, #ff569b 0%,#ff457a 100%);
                                                          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff569b', endColorstr='#ff457a',GradientType=0 ); }
.rbg:hover                                              { background: #ff457a;
                                                          background: -moz-linear-gradient(top, #ff457a 0%, #ff569b 100%);
                                                          background: -webkit-linear-gradient(top, #ff457a 0%,#ff569b 100%);
                                                          background: linear-gradient(to bottom, #ff457a 0%,#ff569b 100%);
                                                          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff457a', endColorstr='#ff569b',GradientType=0 ); }